DB_URL=
PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# there is an additional info in the additional information section in the submit form fro the pass and email
SMTP_PASS=
SMTP_USER = 
SMTP_SERVICE = 
SMTP_HOST=
SMTP_PORT=