DB_URL="postgres://postgres:postgres@localhost:5432/webhook_platform?sslmode=disable"
PORT=8080
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=webhook_db
# there is an additional info in the additional information section in the submit form fro the pass and email
SMTP_PASS=
SMTP_USER = ""
SMTP_SERVICE = "gmail"
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525